
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Vollkorn:ital,wght@1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=Roboto:wght@300&family=Vollkorn:ital,wght@1,500&display=swap');

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body{
    width:65%;
    height: auto;
    padding:30px;
    margin:auto;
  }
  header{
    border: 2px solid #010221;
    border-radius: 10px;
  }
  h1 ,h2,h3{
    font-family: 'Vollkorn', sans-serif;
    text-align: center;
    padding:1%;
    
  }
  P{
    font-family: 'DM sans', sans-serif;
    font-size: 19px;
  }
  a{
    text-decoration: none;
    font-size: 20px;
    padding-bottom:1rem;
  }
  img{
    margin-left:35%;
  }
  footer img{
    margin-left:11%;
  }
  footer > p{
    padding:5px;
    font-size: 15px;
    text-align: center;
    border: 2px solid #010121;
    border-radius:10px;
  }