

:root{
    --first: #010221;
    --second:#0a7373;
    --thrid: #ffffff;
    --fourth: #c43302;
    --fiveth:#edaa25;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{

    max-width:860px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin:auto;
    padding:3px;
    font-family:'DM Sans', sans-serif;
    font-size:medium;
    font-weight: 600;
}
h1, h2{
    font-family: "Vollkorn";
}

/*Here is the Dark mode code
===========================================================*/
main{
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;

}


header{
    position: relative;
    border: 2px solid var(--first);
    text-align: center;
    border-radius:10px;
    margin-top:15px;
    background-color:var(--first);
    color:var(--thrid);
    padding: 10px;
}
header .dark{
    position:absolute;
    right:1em;
}

.change{
    float:right;
    font-size: 28px;
    padding:10px;
    cursor: pointer;
    color:white;
}
/*===============================================*/
h2{
    text-align:center;
    padding:8px;
}



.hero img{
    width:100%;
    object-fit: cover;
    border:3px solid var(--first);
    border-radius: 10px;
    padding: 3px;
    margin:2px auto; 
    
}
section{
    border:3px solid var(--first);
    border-radius: 10px;
    padding: 5px;
    margin:2px;    
}
section div{
    
    border-radius:10px;
    padding: 20px;
    margin: 5px 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .cabildo img{
    width:100%;
    height:auto;
    object-fit:cover;
    padding-bottom: 40px;
    margin:3px auto;
    border-radius: 10px;
    
}
.cabildo a{
    text-decoration: none;
    font-size: 18px;
    color:var(--first)
}

 
/*Hamburger Menu
==================================================*/

.menu{
    display:block;
    font-size: 22px;
    text-decoration: none;
    padding: 2px 2px;
}

.menu::before{
    content:"▤";
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
}
.menu .open::before{
    content:"X";
    color:white;

}

.menu{
    position:absolute;
    top:1.5em;
    margin-left:1em;
       
}
nav{
    background-color:var(--fourth);
    border-radius:10px;
    margin:3px; 

}

.nave{
    list-style: none;
}
.nave li {
    display:none;
}
.nave a{ 
    display: block;
    padding: 3px;
    text-align:center;
    text-decoration: none;
    color:var(--thrid);
    transition: 0.5s;
    font-size: clamp(17px,21px,23px);
    font-weight: 700;
}
.nave a:hover{
    color:white;
    background-color: var(--first);
}
.open li {
    display:block;

}



/* Join a Chamber button creation
=====================================================*/

.boton{
    position: relative;
    top:28em;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
    border: 3px solid var(--fiveth);
    border-radius:10px;
    text-align: center;
    background-color: var(--fourth);
    padding: .5em;
}
.boton a{

    text-decoration: none;
    font-size: 23px;
    font-weight:800;
    color: var(--thrid);
    

}
/*=======================================================*/
/* boxes of weather=======================================*/
.box{
    width:150px;
    height: 150px;
    border: 2px solid var(--second);
    text-align: center;
    padding:4px;
    background: linear-gradient(var(--first),var(--second));
    color: var(--thrid);
}
.box h3{
    padding: 5px;
    font-size: 22px;
}

/*================================================================*/
                    /*Discover code*/
/*Sidebar code===================================================*/
nav a:hover:not(.active){
    background: var(--second);
    color:var(--thrid);
 }
 .sidebar a.active{
    background:var(--first)
 }
 /*changes in the images==============================================*/
 section .history{
    display: grid;
    grid-column: 2/span ;
    font-size: 21px;
    padding: 15px;
    margin-left:8px;
 }
 .pictures p{
    text-align: center;
    font-size: 18px;
 }
 .storage{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 3px;
    color:var(--thrid)
}
span{
    padding: 3px;
}


/*=================================================================*/
footer  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:4px;
    border:2px solid var(--first);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    background-color: var(--first);
    color:var(--thrid);
}
.sociallinks{
    background-color:var(--first)
}





