@media only screen and (min-width:55em){

    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        
        
        
    }
    
    .change{
        font-size: 30px;
    }

    /*Sidebar code +++++++++++++++++++++++++++++++++++++++*/
    .pictures{
     width:100%;

    gap:8px;
    margin-left:250px;
    padding: 8px;
    height:auto;
    object-fit: cover;

   }
   
   .pictures img:hover{
    border: 3px solid var(--first);
    padding:4px;
    border-radius: 15px;
 }



 nav.sidebar{
    display: block;
    position:fixed;
   width:250px;
    height: 400px; 
    border-radius: 10px;
    margin:0;
    padding: 0;
    top:190px;

    

}

.sidebar a {
    display: block;
    color:var(--thrid);
    text-decoration: none;
    padding: 3px;

}
.sidebar a.active{  
    background-color:var(--first);
    
}

.sidebar a:hover:not(.active){
    background-color: var(--second);
    color:var(--thrid);
}
 
.history{
    font-size: 21px;
}

.calendar{
    width:250px;
    height:auto;
}

.storage{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 3px;
    color:var(--thrid)
}
span{
    padding: 3px;
}

/*HeroImage  code=============================*/
.hero{
    display: grid;
    grid-column: span 2;
}

main :nth-child(2){
    display:grid;
    grid-column: 1/1;

}
.card .weather{
    display: grid;
    grid-column: 2/2;
}

  .last{
    display: grid;
    grid-column: 1/5;

 }



/* directory-page code=====================================*/ 


.bx {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    align-items: center;

    
}
.bx img{
    width: 200px;
    margin:0 auto;
    padding:8px;
    border: 1px solid #032667;
}
.bx h3{
    font-family: "roboto", sans-serif;
    text-align: center;
    font-size:22px;
    padding:3px;
}
.bx p, a{
    font-family: "DM Sans";
    text-align: center;
    margin: 0 auto;
    font-size:20px;
}


 .bx section {
    display: block;
    align-items: center;
    border: 3px solid #032667;
    background-color: #e2f8c3;
    box-shadow: 0 0 35px ;
}
.bx section:hover{
    background-color: #a9f576;
    
}
/*==========button of Grid  and list========================*/
.menus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}
.menus button{
    width:40%;
    font-size: 25px;
    font-weight: 600;
    margin:15px;
    padding:10px;
    border-radius: 12px;
    border: 2px solid #123678;
}
.menus button:hover{
    background-color: #74eb74;
}

/*=========List code=====================================*/
 .list section {   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border: 2px solid white;
    margin: 0;
    background-color: white;   

} 
.list .bx{
    display: grid;
    grid-template-columns: 860px;
    grid-auto-flow: dense;
    grid-auto-columns:max-content;
    align-items:center;
    gap: 5px;
    margin:3px;
    padding: .25rem;
}
.list .bx section:nth-child(odd){
    background-color: #aef6c8;
}

 
 .list img{
    display: none;
}

.list section h3{
    font-size: 1.2rem;
    font-family: "roboto", sans-serif;
}
.list section p{
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}



}






