@media only screen and (min-width:55em){

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        
    }
    
    .change{
        font-size: 30px;
    }

    /*Sidebar code +++++++++++++++++++++++++++++++++++++++*/
    .pictures{
     width:100%;
    display: grid;
    grid-column:1/span 3;
    gap:3px;
    margin-left:200px;
    padding: 8px;
    height:auto;
    object-fit: contain;

   }
   .pictures img{
    display: grid;
    grid-column: 2/span 4;
   }
   .pictures img:hover{
    border: 3px solid var(--first);
    padding:4px;
    border-radius: 15px;
 }



 nav.sidebar{
    display: block;
    width:200px; 
    border-radius: 10px;
    margin:0;
    padding: 0;
    position: fixed;
    top:200px;
    bottom:80px;

}

.sidebar a {
    display: block;
    color:var(--thrid);
    text-decoration: none;
    padding: 15px;

}
.sidebar a.active{  
    background-color:var(--first);
    
}

.sidebar a:hover:not(.active){
    background-color: var(--second);
    color:var(--thrid);
}
 
.history{
    font-size: 21px;
}

.calendar{
    width:250px;
    height:auto;
}

.storage{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 3px;
    color:var(--thrid)
}
span{
    padding: 3px;
}

/*HeroImage  code=============================*/
.hero{
    display: grid;
    grid-column: span 4;
}
section div{
    display: block;
    grid-column: auto;

}



/*============================================*/
}