@media only screen and (min-width:17.5em){
    header{
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr; 
        border: 2px solid var(--first);
        text-align: center;
        border-radius:8px;
        margin-top:15px;
        background-color:var(--first);
        color:var(--thrid);
        padding: 14px auto;
    }
    h1{
        grid-column: 2/4;
    }
}






@media only screen and (min-width:40em){

   .nave{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px 0px;
        
   }
    
    .nave a {
        text-align: center;
        
    }
    .menu{
        display: none;
    }
    .nave li{
        display:block;
    
              
    }
    
    main {
        display:grid;
        grid-template-columns: 1fr 1fr;
        
    }
    main .hero{
        grid-column: span 2;
    }
    main .card{
        display: block;
    }
    main .card:nth-child(4){
        grid-column: span 2;
    }
    
    .weather{
        position:relative;
        padding:130px 10px;
        
           
        }


}