@media only screen and (min-width:17.5em){
    header{
        width:100%;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr; 
        border: 2px solid var(--first);
        text-align: center;
        border-radius:8px;
        margin-top:15px;
        background-color:var(--first);
        color:var(--thrid);
        padding: 14px ;
    }
    h1{
        grid-column: 2/4;
    }

    /*Discover code ==================================*/
     .pictures {
        display: grid;
        justify-content: center;
        align-items: center;
        
     }
     .pictures img{
        width:100%;
        height:auto;
    }
    
    
    .sidebar a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 25px;
        padding:5px;
        color:white;
        
     } 
      
      
    

     .history{
        font-size:25px;
     }
    
     
}







@media only screen and (min-width:35em){

   .nave{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px 0px;
        
   }
    
    .nave a {
        text-align: center;
        
    }
    .menu{
        display: none;
    }
    .nave li{
        display:block;
    
              
    }
    
    /*Discover code ===============================*/
        .sidebar a{
            text-align: center;
        
        }

        .history{
            font-size: 26px;
        }
}
