@media only screen and (min-width:17.5em){
    header{
        width:100%;
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr; 
        border: 2px solid var(--first);
        text-align: center;
        border-radius:8px;
        margin-top:15px;
        background-color:var(--first);
        color:var(--thrid);
        padding: 14px ;
    }
    h1{
        grid-column: 2/4;
    }

    /*Discover code ==================================*/
     .pictures {
        display: grid;
        justify-content: center;
        align-items: center;
        
     }
     .pictures img{
        width:100%;
        height:auto;
    }
    
    
    .sidebar a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 25px;
        padding:5px;
        color:white;
        
     } 
      
      
    

     .history{
        font-size:25px;
     }
    
     
}



@media only screen and (min-width:35em){

   .nave {
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        padding:10px 0px;
        
   }
    
    .nave a {
        text-align: center;
        
    }
    .menu{
        display: none;
    }
    .nave li{
        display:block;
    
              
    }
    
    /*Discover code ===============================*/
        .sidebar a{
            text-align: center;
            
        
        }
        
        .history{
            font-size: 26px;
        }

        /*main code for page=====================*/
        .hero{
            width:100%;
            display: grid;
            grid-column: span 5;
            object-fit: cover;
        }
         
        main{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            
        }
        .card .weather{
            display: grid;
            grid-column: 3/5;
        }
        
          .last{
            display: grid;
            grid-column: 1/5;

         }
    
         main{
            grid-template-columns: 1fr 1fr 1fr;
         }
        
        .lateral{
            position:fixed;
            display: grid;
            grid-column: 1/1;
            max-width:33%;
            height: 500px;
        }
        .pictures{
            grid-column:2/4;
        }
    /*=============Directory.html==========================*/
    .bx {
        display: grid;
        grid-template-columns: repeat(3, 290px);
        gap:15px;
        grid-auto-flow: dense;
        grid-auto-rows: auto;
        align-items: center;
    
        
    }
    .bx img{
        width: 180px;
        margin:0 auto;
        padding:8px;
        border: 1px solid #032667;
    }
    .bx h3{
        font-family: "roboto", sans-serif;
        text-align: center;
        font-size:23px;
        padding:3px;
    }
    .bx p, a{
        font-family: "DM Sans";
        text-align: center;
        margin: 0 auto;
        font-size:17px;
    }
    
    
     .bx section {
        display: block;
        align-items: center;
        border: 3px solid #032667;
        background-color: #e2f8c3;
        box-shadow: 0 0 35px ;
    }
    .bx section:hover{
        background-color: #a9f576;
        
    }
    /*==========button of Grid  and list========================*/
     .menus{
    display: grid;
    grid-column: span 3;
        position: relative;
    gap: 3px;
    }
    .menus button{
        width:90%;
        font-size: 25px;
        font-weight: 600;
        margin:15px;
        padding:10px;
        border-radius: 12px;
        border: 2px solid #123678;
    }
    .menus button:hover{
        background-color: #74eb74;
    }
    
    /*=========List code=====================================*/
     .list section {   
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        border: 2px solid white;
        margin:0;
        background-color: white;   
    
    } 
    .list .bx{
        display: grid;
        grid-template-columns:860px; 
        gap: 5px;
        margin:3px;
        padding: .25rem;
    }
    .list .bx section:nth-child(odd){
        background-color: #aef6c8;
    }
    
     
     .list img{
        display: none;
    }
    
    .list section h3{
        font-size: 1.2rem;
        font-family: "roboto", sans-serif;
    }
    .list section p {
        font-family: "roboto", sans-serif;
        font-size: 1rem;
        font-weight: 600;
    }
       

}
