@media  screen and (max-width: 500px) {
    body{
        width:499px;
    }
    nav{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
main{
    display:flex;
    flex-direction:column;
}
    
}